<h3><i class="fas fa book reader"></i> Buddy</h3>
<div class="section">
    <p class="lead">Creer privé en openbare taken voor je team</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1"><i class="fab fa-google left"> Login with Google</i></a>
</div>